* {
    box-sizing: border-box;
}


/* font faces */


/* font-family:Eurofurenceregular,MyriadPro-Regular,AdobeInvisFont */

@font-face {
    font-family: eurof;
    src: url(/fonts/eurof55.ttf);
}

@font-face {
    font-family: lato-regular;
    src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: lato-bold;
    src: url(/fonts/Lato-Bold.ttf);
}


/* BASE */

html {
    font-family: lato-regular, serif;
    color: #4e4e4e;
    line-height: 1.5;
}

body {
    margin: 0;
}

img {
    width: 100%;
    height: 100%;
}

h2 {
    font-size: 1.875em;
    font-family: lato-bold, serif;
    text-transform: uppercase;
    margin-block-start: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* screen */

.main-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    cursor: pointer;
    /* display: none; */
    pointer-events: none;
    opacity: 0;
    transition: opacity .6s;
    z-index: 1;
}

body.menu-open .main-screen,
body.modal-open .main-screen {
    /* display: block; */
    pointer-events: auto;
    opacity: 1;
}


/* main-header */

.main-header {
    background-color: #292929;
    /* height: 130px; */
    /* height: 7.8125rem; */
    box-shadow: inset 0px -6px 0px 0px #1d1d1d;
    /* margin-bottom: 6px; */
}

.main-header .logo {
    color: white;
    font-family: eurof, sans-serif;
    font-size: 2.5em;
}

.logo-span {
    color: green;
}

.main-header .main-nav {
    font-size: 1rem;
    font-family: Lato-Bold, sans-serif;
}

.main-header .main-nav a {
    display: block;
    padding: 3.5em;
    border-right: 2px solid #1d1d1d;
    /* border-bottom: 7px solid #1e1e1e; */
    text-transform: uppercase;
}

.main-header .main-nav li:first-child a {
    border-left: 2px solid #1d1d1d;
}

.main-header .main-nav li:hover a {
    color: rgb(35, 221, 82);
}

.main-header .main-nav li {
    text-align: center;
}

.main-header .main-nav .current-page {
    box-shadow: inset 0px -6px 0px 0px rgb(35, 221, 82);
}


/* just for screenshot */


/* .main-header .main-nav li:first-child {
    border-bottom: 2px solid rgb(35, 221, 82);
    cursor: pointer;
}

.main-header .main-nav li a.journal {
    color: rgb(35, 221, 82);
    cursor: pointer;
} */


/* .main-header.logo {} */


/* Layout */

.main-layout {
    max-width: 1044px;
    margin: 0 auto;
}

.card {
    margin-block-end: 3rem;
}

.card:first-child {
    margin-block-start: 3rem;
}

.card-image {
    flex: 1;
    width: 50%;
}

.card .card-info h2 {}

.card-info {
    flex: 1;
    font-size: 1rem;
    padding-inline-start: 2.5em;
}

.card .card-info p:last-of-type {
    flex: 1;
}


/* .cards-container>* {
    margin-bottom: 40px;
} */

.move-pages {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    padding: 1.25em;
    width: 100%;
    /* line-height: 4em; */
    /* margin-bottom: 20px; */
    border-top: 2px solid #E1E0E0;
    /* border-bottom: 2px solid #E1E0E0; */
}

.card .btn-read {
    font-family: Lato-Bold, sans-serif;
    font-size: 1em;
    color: #c2c2c2;
    border: 1px solid #c2c2c2;
    border-radius: 1.31em;
    padding: 0 1em;
    line-height: 2.5em;
    background-color: #fff;
    align-self: flex-start;
    cursor: pointer;
    position: relative;
    transition: padding .4s;
}

.card .btn-read:hover {
    color: #58c93a;
    border-color: #58c93a;
    padding-inline-end: 2.25em;
}

.card .btn-read::after {
    content: " →";
    position: absolute;
    right: .625em;
    opacity: 0;
    transition: opacity .4s;
}

.card .btn-read:hover::after {
    content: " →";
    opacity: 1;
    /* transition: opacity 0s; */
}

.prev,
.next {
    text-transform: uppercase;
    font-size: 18px;
    color: #818181;
}


/* Footer */

footer {
    background-color: #F8F8F8;
}

footer .logo {
    font-family: eurof, sans-serif;
    font-size: 40px;
    margin-top: 60px;
    /* margin-bottom: 32px; */
}

.footer-container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 2.5rem;
}

footer .copyright {
    font-size: 13px;
    color: #a6a6a6;
    padding: 3.076em;
}


/* social nav */

.social-nav {
    display: inline-block;
    gap: 1.875rem;
    /* margin-bottom: 400px; */
}

.social-nav li {
    /* border: 1px solid grey; */
    display: inline-block;
    margin: 0;
    line-height: 2.6em;
    background-color: #e5e5e5;
    cursor: pointer;
}

.social-nav a {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: #e5e5e5;
    font-size: 24px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.social-nav li {
    margin-right: 19px;
}

ul.social-nav li:last-child {
    margin-left: 10px;
}

.social-nav a.fa-facebook:hover {
    background-color: #516FAD;
}


/* Helpers */


/* flex helpers */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.flex.justify-content {
    justify-content: center;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.align-center {
    align-items: center;
}

.flex.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.border {
    border: 2px solid #E1E0E0;
}


/* List Helpers */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/*hamburger menus*/

.btn-menu {
    display: none;
    background-color: #292929;
    color: white;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}

.btn-menu:hover {
    color: #58c93a;
}


/*modal*/

.modal {
    width: 300px;
    height: 300px;
    border: 2px solid white;
    background-color: #E1E0E0;
    padding: 2em;
    font-family: lato-bold, sans-serif;
    position: fixed;
    top: calc(50vh - 150px);
    left: calc(50vw - 150px);
    z-index: 2;
    border-radius: 8px;
}

.modal-main-content {
    text-align: center;
}

.modal .btn-submit {
    background-color: rgb(120, 238, 126);
    padding: .5rem 1rem;
    margin-top: .5rem;
}

.modal .btn-submit:hover {
    background-color: #68d070;
}

.modal button {
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}

.btn-close-modal {
    background-color: rgb(231, 25, 25);
    border: 1px solid black;
    border-radius: 4px;
    float: left;
    top: 10px;
}

.modal .btn-close-modal:hover {
    background-color: brown;
}


/* MOBILE Mnu ONLY */

@media (max-width: 740px) {
    .main-layout {
        max-width: 650px;
    }
    .btn-menu {
        display: block;
    }
    .main-nav {
        position: fixed;
        right: 0;
        top: 0;
        /* height: 100vh; */
        flex-direction: column;
        border-inline-start: 1px solid #ccc;
        background-color: rgb(255 255 255 / 90%);
        width: 25%;
        transform: translateX(100%);
        transition: transform .6s;
        z-index: 2;
    }
    .main-header .main-nav li:first-child a {
        border-left: none;
        box-shadow: inset 6px 0px 0px 0px rgb(35 221 82);
    }
    .main-header .main-nav .current-page {
        border-bottom: 1px solid #ccc;
        color: rgb(35 221 82);
    }
    body.menu-open .main-nav {
        transform: translateX(0);
    }
    .main-header .main-nav>*:not(:last-child) {
        margin-inline-end: 0;
    }
    .main-header .main-nav a {
        color: #1e1e1e;
        border: none;
        padding: 20px 0px;
        display: block;
        /* padding: 1rem 0; */
        text-align: center;
        border-bottom: 1px solid #ccc;
    }
    .main-header .main-nav a:hover {
        background-color: #f3f3f3;
    }
    .card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card-image {
        flex: 1;
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    .card-info {
        width: 100%;
        padding-right: 2rem;
        padding-left: 2rem;
    }
    h2 {
        margin-bottom: 5px;
    }
    p {
        margin-block-start: .5em;
        margin-block-end: .5em;
    }
    footer .logo {
        margin-top: 20px;
    }
    footer .copyright {
        padding: 1em;
    }
}


/* Medium BP */

@media (min-width: 740px) {
    .main-layout {
        max-width: 820px;
    }
    h2 {
        font-size: 1em;
    }
    .main-header .main-nav a {
        padding: 1em 2.5em;
    }
}


/* Large BP */

@media (min-width: 1060px) {
    .main-layout {
        max-width: 1060px;
    }
    h2 {
        font-size: 1.875em;
    }
    .main-header .main-nav a {
        padding: 3.5em;
    }
}